/*
Primary: #7c3aed
Primary Content: #ffffff
Primary Light: #9b69f1
Primary Dark: #5f14e0

Foreground: #252329
Background: #19181b
Border: #3e3b45
Copy: #fbfbfb
Copy Light: #d8d6dc
Copy Lighter: #a49fac

Success: #3aed3a
Warning: #eded3a
Error: #ed3a3a
*/