<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>MedPilot</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">MedPilot</a>
    </nav>

    <div class="container mt-4">
        <h2>Wählen Sie Ihre Symptome</h2>
        <div class="container">
            <!-- Card für eine Symptomkategorie -->
            <div class="card my-3">
                <div class="card-header">
                    Kategorie 1
                </div>
                <ul class="list-group list-group-flush overflow-auto" style="max-height: 200px;">
                    <li class="list-group-item">Symptom 1</li>
                    <li class="list-group-item">Symptom 2</li>
                    <li class="list-group-item">Symptom 3</li>
                    <!-- Weitere Symptome -->
                </ul>
            </div>
            <!-- Weitere Cards für andere Kategorien -->
        </div>

        <h3>Ausgewählte Symptome</h3>
        <div id="selected-symptoms" class="mb-3">
            <!-- Ausgewählte Symptome anzeigen -->
        </div>

        <h3>Mögliche Diagnosen</h3>
        <div id="possible-diagnoses">
            <!-- Mögliche Diagnosen anzeigen -->
        </div>

        <!-- Diagnose- und Behandlungsdetails hier -->
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <!-- Footer-Inhalte hier -->
        </div>
    </footer>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>